
#waline
script(type="module").
  import { init,commentCount } from '/js/waline3.8.js';
  init({
    el: '#waline',
    serverURL: 'https://waline.scaugreen.cn',
    locale:{
      placeholder: '请输入评论内容...(评论后审核后才会显示。)',
    }
  });
  commentCount({
    serverURL: 'https://waline.scaugreen.cn'
  });