//- #footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  //- a(href=url_for('.'), rel='nofollow')= config.title + '.'
  //- |  Powered by
  //- a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
  //- a(rel='nofollow', target='_blank', href='https://github.com/tufu9441/maupassant-hexo')  Theme
  //- |  by
  //- a(rel='nofollow', target='_blank', href='https://github.com/pagecho')  Cho.
#footer
  div 
    a(href="https://beian.miit.gov.cn") 粤ICP备16092003号
