nav.navbar.navbar-default
  .container-fluid.navbar-custom
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') 导航栏
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav

        li.dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            | 软硬结合——从零打造物联网 
            span.caret
          ul.dropdown-menu
            li
              a(href='/blog/posts/44755') 导读
            li
              a(href='/blog/posts/31494') 1.NodeMCU基础
            li
              a(href='/blog/posts/64786') 2.demo1跑起来
            li
              a(href='/blog/posts/64594') 3.demo2跑起来
            li
              a(href='/blog/posts/31687') 4.部署到云服务器

            li.dropdown-submenu
              a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                span.nav-label 亲手实现demo0.1
                span.caret
              ul.dropdown-menu
                li
                  a(href='/blog/posts/37707') 5.计算机网络基础
                li
                  a(href='/blog/posts/7602') 6.NodeMCU与网络调试助手联调
                li
                  a(href='/blog/posts/58215') 7.使用NodeJs实现TCP服务器
                li
                  a(href='/blog/posts/54080') 8.HTML、CSS、JS基础
                li
                  a(href='/blog/posts/33173') 9.使用NodeJs实现HTTP服务器
                li
                  a(href='/blog/posts/38208') 10.亲手实现demo0.1     

            li.dropdown-submenu
              a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                span.nav-label 亲手实现demo1
                span.caret
              ul.dropdown-menu
                li
                  a(href='/blog/posts/27238') 11.Bootstrap基础
                li
                  a(href='/blog/posts/22339') 12.Express框架
                li
                  a(href='/blog/posts/24742') 13.亲手实现demo1

            li.dropdown-submenu
              a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                span.nav-label 亲手实现demo2
                span.caret
              ul.dropdown-menu
                li
                  a(href='/blog/posts/18173') 14.数据可视化基础
                li
                  a(href='/blog/posts/21192') 15.Websocket协议
                li
                  a(href='/blog/posts/41347') 16.数据库基础
                li
                  a(href='/blog/posts/29864') 17.亲手实现demo2

            li.dropdown-submenu
              a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                span.nav-label 其它补充
                span.caret
              ul.dropdown-menu
                li
                  a(href='/blog/posts/52429') chrome开发者工具
                li
                  a(href='/blog/posts/54436') 软硬结合调试技巧
                li
                  a(href='/blog/posts/15341') 将demo2制作成微信小程序
                li
                  a(href='/blog/posts/1041') 将demo2制作成exe应用程序
                li
                  a(href='/blog/posts/34982') Linux基础
                li
                  a(href='/blog/posts/41995') 最后的讨论

        li.dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            | 3D可视化教程（Web）
            span.caret
          ul.dropdown-menu
            li
              a(href='/blog/posts/30679/') 导读
            li.dropdown-submenu
              a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                span.nav-label 项目示例
                span.caret
              ul.dropdown-menu
                li
                  a(href='/blog/posts/2544') 模型拆解示例
                li
                  a(href='/blog/posts/46791') 智慧城市
                li
                  a(href='/blog/posts/15060') 地球数据流                  
                li
                  a(href='/blog/posts/19890') 数据中心

            li.dropdown-submenu
              a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                span.nav-label 基础示例
                span.caret
              ul.dropdown-menu
                li
                  a(href='/blog/posts/42378') 1-模型制作与展示
                li
                  a(href='/blog/posts/45270') 2-模型数据                 
                li
                  a(href='/blog/posts/5988') 3-光线痕迹
                li
                  a(href='/blog/posts/60366') 4-动画
                li
                  a(href='/blog/posts/52736') 5-显示动态图               
                li
                  a(href='/blog/posts/56155') 6-屏幕坐标转换
                li
                  a(href='/blog/posts/48386') 7-开关门(不动点)              
                li
                  a(href='/blog/posts/30581') 8-聚焦靠近
                li
                  a(href='/blog/posts/59091') 9-容量模式           
                li
                  a(href='/blog/posts/62843') 10-曲线移动

            li.dropdown-submenu
              a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                span.nav-label Blender相关
                span.caret
              ul.dropdown-menu
                li
                  a(href='/blog/posts/46886') 常用操作
                li
                  a(href='/blog/posts/20949') 导入城市建筑(.osm)                
                li
                  a(href='/blog/posts/4195') 导入城市建筑(.rdc)     

            li.dropdown-submenu
              a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                span.nav-label 其它
                span.caret
              ul.dropdown-menu
                li
                  a(href='/blog/posts/31929') 3D案例收集
                li
                  a(href='/blog/posts/27566') PS常用技巧              
                li
                  a(href='/blog/posts/47064') PS制作科技感界面  
                li
                  a(href='/blog/posts/5200') three.js性能优化
                li
                  a(href='/blog/posts/1192') 线性代数基础知识归纳              
                li
                  a(href='/blog/posts/44479') 3D温场效果  
                li
                  a(href='/blog/posts/3280') 线框转换效果
        li.dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            | 杂谈
            span.caret
          ul.dropdown-menu
            li
              a(href='/blog/posts/62923/') 推荐书籍
            li
              a(href='/blog/posts/61760/') 工具推荐
            li
              a(href='/blog/posts/44837/') 人生一百种失败方法
            li
              a(href='/blog/posts/25883/') 分享当面试官的经验
        li
          a(href='/archives')
            | 所有文章
            span.sr-only (current)
        li
          a(href='/blog/posts/23630')
            | 关于
            span.sr-only (current)

      //- ul.nav.navbar-nav.navbar-right
      //-   li
      //-     a(href='/blog/posts/23630') 关于
