//- if theme.disqus
//-   .widget
//-     .widget-title
//-       i(class='fa fa-comment-o')= ' ' + __('recent_comments')
//-         script(src='/js/waline3.8.js')

//- div 评论数: 
//-   span#waline-comment-count.waline-comment-count
//-   script(type="module").
//-     import { commentCount } from '/js/waline3.8.js';

//-     commentCount({
//-       serverURL: 'https://walinejs.comment.lithub.cc',
//-       path: '/',
//-     });


